

 <%= column_chart @data,  colors: ["#b53"] %> 

<div align="center"> <a class='btn ' onClick="window.location.reload()">Refresh</a></div>

<br/>
<div align="center"> <a href="/ss" class="btn--green">Start TweetStreaming</a>
 <a href="/stop" class="btn btn--red">Stop TweetStreaming</a>
</div>
