<html>
  <head>
    <script src="http://www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
    <link rel="stylesheet" type="text/css" href="furtive.min.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>